<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
