rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isSelf(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function groupDoc(groupId) {
      return firestore.get(/databases/(default)/documents/groups/$(groupId));
    }

    function isGroupMember(groupId) {
      return isSignedIn() &&
        request.auth.uid in groupDoc(groupId).data.memberIds;
    }

    function isGroupOwner(groupId) {
      return isSignedIn() &&
        groupDoc(groupId).data.ownerId == request.auth.uid;
    }

    function memberDoc(groupId, memberId) {
      return firestore.get(/databases/(default)/documents/groups/$(groupId)/members/$(memberId));
    }

    function isMemberSelf(groupId, memberId) {
      return isSignedIn() &&
        memberDoc(groupId, memberId).data.userId == request.auth.uid;
    }

    match /users/{userId}/profile.jpg {
      allow read: if isSignedIn();
      allow write: if isSelf(userId);
    }

    match /users/{userId}/subscriptions/{fileName} {
      allow read, write, delete: if isSelf(userId);
    }

    match /groups/{groupId}/receipts/{memberId}/{fileName} {
      allow read: if isGroupOwner(groupId) || isGroupMember(groupId);
      allow write: if isGroupMember(groupId) &&
        (isMemberSelf(groupId, memberId) || memberId == request.auth.uid);
      allow delete: if isGroupOwner(groupId) ||
        isMemberSelf(groupId, memberId) || memberId == request.auth.uid;
    }
  }
}
